.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.listingWeapons {
  list-style: none;
}
.listingWeapons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.weaponsItem {
  width: 200px;
  height:200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.weaponsItem img {
  height: 50%;
}

.rarity-background_common{border-width:4px;border-style:solid;border-image-source:linear-gradient(25deg, #7E848A 15%, #CFCFCF);border-image-slice:20;background-image:radial-gradient(#d0d0d0 0%, #6d7071 100%);padding:8px}
.rarity-background_uncommon{border-width:4px;border-style:solid;border-image-source:linear-gradient(25deg, #008A09 15%, #9EEF00);border-image-slice:20;background-image:radial-gradient(#5BAD03 0%, #01700a 100%);padding:8px}
.rarity-background_rare{border-width:4px;border-style:solid;border-image-source:linear-gradient(25deg, #0063C5 15%, #00EFEC);border-image-slice:20;background-image:radial-gradient(#3dc7ff 0%, #0059a1 100%);padding:8px}
.rarity-background_epic{border-width:4px;border-style:solid;border-image-source:linear-gradient(25deg, #8037D7 15%, #DF2CEF);border-image-slice:20;background-image:radial-gradient(#d27bf4 0%, #7907a5 100%);padding:8px}
.rarity-background_legendary{border-width:4px;border-style:solid;border-image-source:linear-gradient(25deg, #df7241 15%, #F6C87C);border-image-slice:20;background-image:radial-gradient(#fb9625 0%, #875134 100%);padding:8px}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
